@inherits LayoutComponentBase

@using BootstrapBlazor.Components


<div class="page" style="background-image: url(./_content/HiFly.BbLayout/images/backpic.jpg);
                        background-size: 100% 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 100vh;
                        overflow: hidden;">
    <main style="height: 100vh; overflow: hidden;">
        <article class="content p-0" style="height: 100vh; overflow: hidden;">
            @Body
        </article>
    </main>
</div>



