@using Microsoft.AspNetCore.Components

<div class="settings-section">
    <div class="section-header">
        <div class="section-icon">
            <i class="@IconClass"></i>
        </div>
        <h6 class="section-title">@Title</h6>
    </div>
    
    <div class="settings-content">
        @ChildContent
    </div>
</div>

